[user]
        name = Leonard Marshall Afzal
        email = 86576612+LMarshallAfzal@users.noreply.github.com
[alias]
        st = status -sb
        ch = checkout
        co = commit
        cm = commit -m
        p = push
        fuck = git reset --hard
        last = log -1 HEAD --stat
        count = rev-list --count
[help]
        autocorrect = 1
